@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #9a6e4c #e7dacf;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e7dacf;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9a6e4c;
  border-radius: 4px;
  border: 2px solid #e7dacf;
}
